@model AngryElectronDomain.Element
@{   
    ViewBag.Title = "Emlment review";
}

<h2>Element</h2>
    <p> Here we can learn about elements, the basic building blocks of all things. There are four main elements: water, fire, air, and earth. </p>
<h3>@Model.Symbol</h3>
