@{
    ViewBag.Title = "Periodic Table of the Elements";
}

@section styles{
    @Styles.Render("~/Content/dataTables")
}

<h2>Periodic Table of the Elements</h2>
<h3>Not yet Periodic</h3>
@{}
<div id="demo"></div>
@section scripts{
    @Scripts.Render("~/bundles/dataTables")
<script type="text/javascript" src="@Url.Content("~/App_Data/TableOfElements.json")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#demo').html('<table cellpadding="0" cellspacing="0" border="0" class="display" id="TableOfElements"></table>');
            $('#TableOfElements').dataTable({
                "aoColumns": [
                    {"mData":"AtomicNumber", "sTitle":"Atomic Number"},
                    {"mData": "Symbol", "sTitle":"Symbol"},
                    {"mData": "Name", "sTitle":"Name"},
                    {"mData": "AtomicMass", "sTitle":"Atomic Mass"}
                ],
                "aaData": @Html.Raw(ViewBag.Json)
            });
        });
    </script>
}