@{
    ViewBag.Title = "StoichiometryCalculator";
}

<h2>Stoichiometry Calculator</h2>
<h3>Coming Soon!</h3>
<label>Reactants</label> <input type="text" name="reactants" placeholder="Reactants" class="tagManager"/>
<label>Products</label> <input type="text" name="products" placeholder="Products" class="anotherTagManager"/>