@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

Resources

<p>
<q>Around the world almost all students learn traditional
hand- calculating not computer-based math. Sometimes it’s
“computer-assisted,” that is, applying some of the new
modalities to the traditional subject. That’s holding them
and their countries back from more creative, conceptual
math. Indeed a larger and larger chasm is opening up
between math for the real world and math in education.
Technology isn’t an optional extra for math, it’s
fundamental to the mainstream subject of today. - Conrad Wolfram</q>
    
</p>